.page{
    height:100vh;
    max-width: 100vw;
    font-family: 'Bungee Shade', cursive;
}
#landingpage img{
    height: 75vh;
    position:absolute;
    top:50%;
    left:50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    /* -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite; */
}
#landingpage h1 {
    margin:0;
    position:absolute;
    top:50%;
    width:fit-content;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: rgb(247, 196, 129);
}
#tafkhan{
    animation:tkfifo 15s linear infinite;
}
#developer{
    opacity: 0;
    animation:dvfifo 15s linear infinite;
}
#designer{
    opacity: 0;
    animation:dgfifo 15s linear infinite;
}
#programmer{
    opacity: 0;
    animation:pgfifo 15s linear infinite;
}


@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}

@keyframes tkfifo {
    0%{ opacity:1}
    16.67%{opacity:1}
    24%{opacity:0}
    91.67%{opacity:0}
    100%{opacity:1}
}

@keyframes dvfifo {
    0%{ opacity:0}
    16.67%{opacity:0}
    25%{opacity:1}
    41.67%{opacity:1}
    49%{opacity:0}
    100%{opacity:0}
}

@keyframes dgfifo {
    0%{ opacity:0}
    41.67%{opacity:0}
    50%{opacity:1}
    66.67%{opacity:1}
    74%{opacity:0}
    100%{opacity:0}
}

@keyframes pgfifo {
    0%{ opacity:0}
    66.67%{opacity:0}
    75%{opacity:1}
    83.33%{opacity:1}
    92.67%{opacity:0}
    100%{opacity:0}
}

